<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Gugi&display=swap" rel="stylesheet"> 
    <title>City Walks</title>
  </head>
  <body style="background-color:#212121;">
    <div style="color:white;width:100%;text-align:center;">
        <h1 style="font-family:Gugi;font-size:60px;">Success!</h1>
        <p style="font-family:Comfortaa;font-size:40px;">Your password has been reset and you can now log in.</p>
    </div>
  </body>
</html>